@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    display: flex;
}

.top-section h1 {
    position: absolute;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000;
    width: 278px;
    height: 47px;
    top: 71px;
    left: 12px;
}

.top-section h2 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    width: 117px;
    height: 27px;
    left: 12px;
    top: 156px;
}

.top-section p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 333px;
    height: 87px;
    left: 12px;
    top: 193px;
}

.bill {
    position: relative;
    width: 160px;
    height: 250px;
    left: 10px;
    top: 300px;
}

.name1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 128px;
    height: 18px;
    left: 10px;
    top: 300px;
}

.title1 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 111px;
    top: 90px;
}

.saba {
    position: relative;
    width: 160px;
    height: 250px;
    left: 202px;
    top: 70px;
}

.name2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 141px;
    height: 18px;
    left: 202px;
    top: 70px;
}

.title2 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 303px;
    top: -140px;
}

.shae {
    position: relative;
    width: 160px;
    height: 250px;
    left: 10px;
    top: 100px;
}

.name3 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 128px;
    height: 18px;
    left: 10px;
    top: 100px;
}

.title3 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 111px;
    top: -110px;
}

.skylah {
    position: relative;
    width: 160px;
    height: 250px;
    left: 202px;
    top: -140px;
}

.name4 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 141px;
    height: 18px;
    left: 202px;
    top: -140px;
}

.title4 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 303px;
    top: -350px;
}

.griff {
    position: relative;
    width: 160px;
    height: 250px;
    left: 10px;
    top: -100px;
}

.name5 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 128px;
    height: 18px;
    left: 10px;
    top: -100px;
}

.title5 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 111px;
    top: -310px;
}

.stan {
    position: relative;
    width: 160px;
    height: 250px;
    left: 202px;
    top: -330px;
}

.name6 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 141px;
    height: 18px;
    left: 202px;
    top: -332px;
}

.title6 {
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 130px;
    height: 11px;
    left: 303px;
    top: -540px;
}
